@import url('fonts/old_london.css');
@import url('genericons/genericons.css');

body
{
  padding-top: 60px;
  background-image: url('../img/B.jpg');
  background-attachment: fixed;
  font-family: "comic sans ms";
}
h1{
  font-family: "comic sans ms";
  color: "0cb7ea";
}
h2{
  font-family: "comic sans ms";
  color: "0cb7ea";
}
h3{
  font-family: "comic sans ms";
  color: "0cb7ea";
}
h4{
  font-family: "comic sans ms";
  color: "0cb7ea";
}

.navbar
{
  font-family: "comic sans ms";
  font-weight: 300;
  font-size: 36px;
}
.navbar-brand
{
  color: "0ceae4";
  font-size: 24px;
}

@media (max-width: 980px)
{
  body
  {
    padding-top: 0;
  }
}
