@import url('fonts/old_london.css');
@import url('genericons/genericons.css');

body
{
  padding-top: 60px;
  background-image: url('../img/ye-olde-bg-1.jpg');
  background-attachment: fixed;
}

.navbar
{
  font-family: "Old London";
  font-weight: 400;
  font-size: 40px;
}
.navbar-brand
{
  font-size: 30px;
}

@media (max-width: 980px)
{
  body
  {
    padding-top: 0;
  }
}
